<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.rorywalsh.folkthis" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
        android:icon="@drawable/logoconcertina"
        android:label="Seamus"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="Seamus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TuneListScreen"
            android:label="Results" >
        </activity>
        <activity
            android:name=".TuneSheetMusic"
            android:hardwareAccelerated="true"
            android:label="Sheet Music" >
        </activity>
        <activity
            android:name=".TuneVersionScreen"
            android:label="Versions found..." >
        </activity>
    </application>

</manifest>
